In [1]:
### For Loop

In [4]:
cleanest_city = "islamabad"

pakistan_cities = ['islamabad', 'karachi', 'lahore', 'pindi']

if cleanest_city == pakistan_cities[0]:
  print(cleanest_city)
elif cleanest_city == pakistan_cities[1]:
  print(cleanest_city)
elif cleanest_city == pakistan_cities[2]:
  print(cleanest_city)
elif cleanest_city == pakistan_cities[3]:
  print(cleanest_city)
elif cleanest_city == pakistan_cities[4]:
  print(cleanest_city)

islamabad

In [15]:
pakistan_cities = ['islamabad', 'karachi', 'lahore', 'pindi']

for city in pakistan_cities:
    if city == cleanest_city:
      print(city)
else:
    print(f'{city} is not a clean city.')

islamabad
pindi is not a clean city.

In [20]:
friend1 = "ayan"
friend2 = "bilal" 
friend3 = "khan"
friend4 = "saad"

print(f'{friend1} you are invited for the party')
print(f'{friend2} you are invited for the party')
print(f'{friend3} you are invited for the party')
print(f'{friend4} you are invited for the party')

ayan you are invited for the party
bilal you are invited for the party
khan you are invited for the party
saad you are invited for the party

In [28]:
frist_names = ['Muhamamd', 'Bilal', 'Muhammad', 'Saad']
last_names = ['khan', 'nawaz', 'hussain', 'awais']
full_names = []

for frist_name in frist_names:
    for last_name in last_names:
        print(frist_name + ' ' + last_name)

Muhamamd khan
Muhamamd nawaz
Muhamamd hussain
Muhamamd awais
Bilal khan
Bilal nawaz
Bilal hussain
Bilal awais
Muhammad khan
Muhammad nawaz
Muhammad hussain
Muhammad awais
Saad khan
Saad nawaz
Saad hussain
Saad awais

In [34]:
frist_names = ['Muhamamd', 'Bilal', 'Muhammad', 'Saad']
last_names = ['khan', 'nawaz', 'hussain', 'awais']
full_names = []

for frist_name in frist_names:
    for last_name in last_names:
        full_names.append(frist_name + ' ' + last_name)

print(full_names)

['Muhamamd khan', 'Muhamamd nawaz', 'Muhamamd hussain', 'Muhamamd awais', 'Bilal khan', 'Bilal nawaz', 'Bilal hussain', 'Bilal awais', 'Muhammad khan', 'Muhammad nawaz', 'Muhammad hussain', 'Muhammad awais', 'Saad khan', 'Saad nawaz', 'Saad hussain', 'Saad awais']

In [37]:
len(frist_names)

4

In [51]:
for i in range (1,10,3):
    print(i)

1
4
7

In [48]:
frist_names = ['Muhamamd', 'Bilal', 'Muhammad', 'Saad']
last_names = ['khan', 'nawaz', 'hussain', 'awais']
full_names = []

for i in range(len(frist_name)):
    print(i)

0
1
2
3

In [50]:
#                 0           1         2        3         4
first_names = ['Muhamamd', 'umair', 'sameer', 'noman', 'Mushtaq']
#                             -4       -3         -2        -1
print(first_names[1])
print(first_names[1:3])
print(first_names[3])
print(first_names[1:5:2])
print(first_names[-3:-1])

umair
['umair', 'sameer']
noman
['umair', 'noman']
['sameer', 'noman']

In [1]:
first_names = ['Muhamamd', 'Bilal', 'Muhammad', 'Saad']
last_names = ['khan', 'nawaz', 'hussain', 'awais']
full_names = []

for i in range(len(first_names)):
    full_names.append(first_names[i] + ' ' + last_names[i])

print(full_names)

['Muhamamd khan', 'Bilal nawaz', 'Muhammad hussain', 'Saad awais']

In [57]:

first_names = ['Muhamamd', 'Bilal', 'Muhammad', 'Saad']
last_names = ['khan', 'nawaz', 'hussain', 'awais']

# Full names banane aur print karne ka code
for f, l in zip(first_names, last_names):
    full_name = f + " " + l
    print(full_name)

Muhamamd khan
Bilal nawaz
Muhammad hussain
Saad awais

In [56]:
for i in range(2, 6):
    print(f"Multiplication table for [1]")
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")

    print()

Multiplication table for [1]
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for [1]
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for [1]
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for [1]
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [58]:
## write a program that prints the numbers from 1 to 100 but with the following rules 
## for numbers that are divisible by 3 print "fizz" instead of the number
## for numbers that are divisible by 5 print "buzz" instead of the number
## for numbers that are divisible by 3 and 5 print "fizzbuzz" instead of the number
#for all other numbers print the number itself

In [60]:
for i in range(1, 101): 
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz